*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../assests/images/my\ book\ shelf.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 90%;
    background-size: 100% 100%;
    opacity: 0.3em;
}

/* css navbar */
.home-page-nav{
    background-color: orange;
    margin-left: 30px;
    color: #f2f2f2;
    display: flex;
    justify-content:space-between;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
}
.us ul{
    display: flex;
    justify-content: space-between;
} 
.us ul li{
    margin-left: 20px;
}
.us ul li:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.form{
    box-sizing: border-box;
  }

form.form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
form.form button {
  padding: 10px;
  background: #2196F3;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.form button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.form::after {
    content: "";
    clear: both;
    display: table;
  }

/* css body */
.container{
    background-color: #f1f1f1da;
    height: 74%;
    width: 85%;
    margin-left: 120px;
}

.addList{
    display: flex;
    margin: 30px;
}

.addList h1{
    margin-left: 350px;
}
.addList button{
    margin-left: 400px;
    background-color: blue;
    padding: 20px;
    width: 200px;
    font-size: larger;

}
#tbody{
    background-color: #D6EEEE;
}
.table{
    margin-left: 10px; 
}
#thead th{
    text-align: left;
    text-decoration: underline;
}

/* css footer */

 .footer{
    background-color: orange;
    width: 100%;
 }

 .footer,
 .theFooter{
    display: flex;
    margin-left: 30px;
 }
 #list_items_about{
    margin-left: 400px;
    color: #f2f2f2;

 }
 #list_items_support{
    margin-left: 550px;
    color: #f2f2f2;

 }